#main_row{ display: flex;}
.first{
	display:inline-block;
width: 70%;
height: 100px;
background-color: #efefef;
}
.second{
	width:30%;
height: 100px;
background-color: #efefef;
min-height: 600px;
}
.logo_class{

	width:auto; 
	height:100px;
}
.container{

 background-image: url("paper.gif");
  background-color: #cccccc;


  min-height: 500px;
}
#second_row{ display: flex;}
.first2{
	display:inline-block;
width: 70%;
height: 100px;
background-color: #fff;
}
.second2{
	margin: -122px 7px 0px 107px;
	width:30%;
height: 100px;
background-color: #efefef;
 display: flex;
    flex-direction: column-reverse;

}
.logo_class1{

	    width: auto;
    height: 79px;
    
}
.first_inner{display:inline-block;margin-left:30%;}
.second_inner{display:inline-block;margin-left:10%; padding: 0px 3px 10px 326px; margin-top: -54px;}